.ProfileLoader {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.aside_loader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 300px;
    height: 100%;
}

.avatar-loader {
    position: relative;
    width: 192px;
    height: 192px;
    margin-bottom: 30px;
    border-radius: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.input_loader {
    position: relative;
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 30px;
    overflow: hidden;
}

.avatar-loader::before,
.input_loader::before {
    will-change: left;
    content: '';
    position: absolute;
    height: 100%;
    width: 300px;
    top: 0;
    left: -300px;
    background: linear-gradient(90deg, rgba(25, 25, 25, 0.1), #333333, rgba(25, 25, 25, 0.1));
    animation: progress 1.2s ease-in-out infinite;
}

.content_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.content_loader .left,
.content_loader .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.content_loader .input_loader {
    height: 70px;
    margin-bottom: 30px;
}

@keyframes progress {
    0% {
        left: -500px;
    }
    100% {
        left: 100%;
    }
}

/* MEDIA TAGS */

@media (max-width: 700px) {
    .ProfileLoader {
        flex-direction: column;
        gap: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .aside_loader {
        width: 100%;
    }

    .avatar-loader {
        width: 150px;
        height: 150px;
    }

    .input_loader {
        position: relative;
        width: 50%;
    }

    .content_loader {
        flex-direction: column;
    }

    .content_loader .left,
    .content_loader .right {
        flex-direction: column;
    }

    .content_loader .left .input_loader,
    .content_loader .right .input_loader {
        width: 80%;
    }
}